@import "./variables";

.underlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: $padding-300;

  user-select: none;
  pointer-events: none;

  &.apple,
  &.spotify {
    .appleTitle,
    .spotifyTitle {
      transform: rotateX(25deg) scale(1.2, 1.75);
    }
  }

  &.apple {
    .appleTitle {
      -webkit-text-fill-color: $color-apple !important;
    }
    .spotifyTitle {
      opacity: 0;
    }
  }

  &.spotify {
    .appleTitle {
      opacity: 0;
    }
    .spotifyTitle {
      -webkit-text-fill-color: $color-spotify !important;
      /* background: linear-gradient(270deg, blue 0%, #fa243c 100%); */
    }
  }

  .header {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .title {
      font-family: "Antonio", sans-serif;
      font-size: 30px;
      font-weight: 700;
      color: $color-800;
      letter-spacing: -2px;

      pointer-events: all;
      cursor: pointer;

      span {
        font-size: 16px;
        vertical-align: super;
        margin-left: $padding-50;
      }
    }

    .icon {
      position: relative;
      width: $padding-200;
      height: auto;
    }
  }

  .description {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: $padding-400;

    p {
      color: $color-800;
    }

    .drag {
      transform: rotate3d(0, 0, 1, 90deg) translate3d(100%, 10px, 0);
      transform-origin: right;
      text-align: right;
      white-space: nowrap;
    }
  }

  .providers {
    width: 100%;
    margin-top: auto;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;

    .provider {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: $padding-200;

      pointer-events: all;

      perspective: 1000px;

      &:last-child {
        align-items: flex-end;
      }

      .appleTitle,
      .spotifyTitle {
        font-size: 150px;
        font-weight: 600;
        letter-spacing: -10px;
        text-align: left;
        line-height: 1em;
        padding-right: 10px;

        -webkit-text-fill-color: transparent;

        transform-origin: bottom left;
        transition: transform $animation-duration-long $animation-easing,
          opacity $animation-duration-short $animation-easing;
      }

      .appleTitle {
        background: linear-gradient(270deg, #fb5c74 0%, #fa243c 100%);
        background-clip: text;
      }

      .spotifyTitle {
        line-height: 1.3em;
        background: linear-gradient(45deg, #1ed760 0%, #1ed760 100%);
        background-clip: text;
        transform-origin: bottom right;
      }
    }
  }

  .credits {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: flex-end;
    align-items: flex-end;
    grid-gap: $padding-300;
    margin-top: $padding-400;

    p {
      color: $color-800;

      &:last-child {
        text-align: right;
      }
    }

    .title {
      font-family: "Antonio", sans-serif;
      font-size: 16px;
      font-weight: 700;
      text-align: center;
      color: $color-800;
      letter-spacing: -0.5;
      white-space: nowrap;
      text-transform: uppercase;
    }
  }
}
